
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo span{
    background-color: orange;
    color: antiquewhite;
    padding:0.8rem 0.8rem;
    border-radius: 100%;
}
.btn{
    text-decoration: none;
    background-color: black;
    color: azure;
    font-weight: 600;
    padding: 0.5 2rem;
    border-radius: 2px;
}